.container {
  max-width: 85%;
  h1 {
    margin: 2rem 0;
    text-align: center;
  }
  form {
    min-width: 400px;
    max-width: 600px;
    .form-group {
      margin-bottom: 0.5rem; //bootstrap override
    }
  }

  .ticket-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #0056b3;
  }

  .modal-dialog {
    min-width: 600px;
    max-width: 800px;
  }
}